body
{
    background-color:#b983ff;
}

.heading
{
    background-color: yellow;
    color:antiquewhite;
    height: 12%;
    display: flex;
    align-items: center;
}

.heading h1
{
    color: black;
    text-align: center;
    padding-top: 6px;
    padding-left: 45%;
    ;
}

img
{
    width: 100%;
}

header
{
   background:antiquewhite; 
}

.butter 
{
    color: #800000;
    font-size: 1rem;
    font-family: Cursive;
	padding:3px
}

.design-img
{
    position: relative;
	color: #3f000f;
	font-family:Cursive;	
}

.design-title 
{
    color: Purple;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-family: Cursive;
}
.design-content
{
     display: grid;
     gap: 5rem;
}
    
@media screen and (min-width: 120px)
{
    .design-content
    {
		
        grid-template-columns:repeat(2,1fr);
    }

}
